.loading-card {
  background: url('../assets/images/backgrounds/fabric750x750.png') no-repeat center center;
  transition: all 0.2s ease-in-out;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  color: white;
  border: none;
  width: 300px;
  margin: auto;
  padding: 2vw;
}
.loading-card:hover {
  box-shadow: 0px 0px 10px black;
}

.loading-spinner {
  margin: 20px auto;
  color: #ffd000;
}
