.title-bar {
  background-image: url("../assets/images/black2133x1200.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  padding: 2vw;
  color: white;
  text-align: center;
  transition: all 0.2s ease-in-out;
  margin-bottom: 2vw;
}
.title-bar:hover {
  box-shadow: 0px 0px 10px black;
}
