body {
  background-attachment: fixed;
  background-repeat: repeat;
  background-size: 400px;
}

body.dark-mode {
  background-image: url("../images/backgrounds/dark1200x2133.jpeg");
}

body:not(.dark-mode) {
  background-image: url("../images/backgrounds/white1200x2133.jpeg");
}


*{
  /* border: red 1px solid; */
}

hr {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 1),
    rgba(0, 0, 0, 0)
  );
  border: none;
  height: 5px;
  margin: 2vw;
}

.container-fluid {
  transition: all 0.2s ease-in-out;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  color: white;
  padding: 5vw 2vw;
  max-width: 90vw;
  margin: 5vw auto;
}
.container-fluid:hover {
  box-shadow: 0px 0px 10px black;
}

.home-page {
  background-image: url("../images/home/clothes_dimmed_1368x628.png");
}
