/* Dark mode toggler style */
body {
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: 400px;
}
body.dark-mode {
    background-image: url("../images/backgrounds/dark1200x2133.jpeg");
}
body:not(.dark-mode) {
    background-image: url("../images/backgrounds/white1200x2133.jpeg");
}

/* Global styles */
hr {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        rgba(255, 255, 255, 1),
        rgba(255, 255, 255, 1),
        rgba(255, 255, 255, 1),
        rgba(0, 0, 0, 0)
    );
    border: none;
    height: 5px;
    margin: 2vw;
}

.row {
    max-width: 90%;
    margin: 0 auto;
}

/* Global Cards */
.wide-card,
.tall-card {
    transition: all 0.2s ease-in-out;
    background-color: rgba(0, 0, 0, 0.7);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    padding: 5vw;
    color: white;
}
.wide-card:hover,
.tall-card:hover {
    box-shadow: 0px 0px 10px black;
}
.wide-card {
    width: 100%;
    margin: 5vw auto;
}
.tall-card {
    margin: 5vw 0;
}

/* Backgrounds for pages */
.home-page {
    background-image: url("../images/home/clothes_dimmed_1368x628.png");
}
.login-page {
    background-image: url("../images/backgrounds/bandana1280x720.png");
}
.register-page{
    background-image: url("../images/backgrounds/luxury1136x640.png");
}