/* Column background and special title */
.left-col {
    background-image: url("../assets/images/about/fabric653x1920.png");
}
.left-col h3 {
    font-family: "Courier New", Courier, monospace;
    text-shadow: 0 0 1px white;
    color: goldenrod;
}

/* Owner image and map margin, border. */
.owner-image,
.map {
    border: 3px inset darkgoldenrod;
    margin: 2vw auto;
    border-radius: 10px;
}
.map {
    height: 50vh;
    width: 100%;
}

/* Logo and owner */
.logo-image,
.owner-image {
    min-width: 150px;
    width: 20vw;
    max-width: 250px;
}
.logo-image {
    transition: all 0.2s ease-in-out;
    border: 5px double goldenrod;
    border-radius: 100%;
    padding: 1vw;
}
.logo-image:hover {
    box-shadow: 0 0 5px 5px goldenrod, 0 0 10px 10px white,
        0 0 15px 15px goldenrod;
    transform: scale(1.1);
}
