.col h1,
.col h2,
.col h3 {
  text-shadow: 0px 0px 10px black, 0px 0px 10px black;
}

.col {
  padding: 2vw;
  background-image: url("../assets/images/home/clothes_dimmed_1368x628.png");
  background-size: cover;
  min-height: 500px;
  border-radius: 10px;
  color: white;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.col:hover {
  box-shadow: 0px 0px 10px black;
}

.col h1 {
  font-size: 3rem;
  font-weight: 300;
  margin: 2vw;
}

.col h2 {
  font-size: 1.5rem;
  font-weight: 200;
  margin: 2vw;
}

.col hr {
  border: 0;
  height: 5px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(255, 255, 255, 1),
    rgba(0, 0, 0, 0)
  );
  margin: 2vw;
}

.col h3 {
  font-size: 1rem;
  font-weight: 400;
  margin: 2vw;
}
