.register-col {
  background-image: url("../assets/images/backgrounds/bandana1280x720.png");
}

.image-preview {
  background-image: linear-gradient(to bottom, rgb(253, 244, 184), rgb(187, 151, 58));
  border: 3px double goldenrod;
  border-radius: 100px;
  margin: 10px auto;
  object-fit: cover;
  display: block;
  height: 200px;
  width: 200px;
  padding: 3px;
}
