.title-bar {
  background-image: url("../assets/images/wall1472x736.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  padding: 2vw;
  color: white;
  text-align: center;
  transition: all 0.2s ease-in-out;
  margin-bottom: 5vw;
}
.title-bar:hover {
  box-shadow: 0px 0px 10px black;
}

.mb-5vw {
  margin-top: 1vw;
  margin-bottom: 5vw;
}
.mb-10vw {
  margin-top: 10vw;
  margin-bottom: 1vw;
}